<% provide(:title, "Contact") %>
<div class="jumbotron">
  <h1>Contact</h1>
  <p>
    Contact the Ruby on Rails Tutorial about the sample app at the
  </p>
  <p>
    <a
      class="btn btn-lg btn-primary"
      href="https://www.railstutorial.org/contact">
      Contact page
    </a>
  </p>
</div>
