<li class="nav-item dropdown">
  <a
    class="nav-link dropdown-toggle"
    href="#"
    id="navbardrop"
    data-toggle="dropdown"
  >
    Routes
  </a>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="/static_pages/help">help</a>
    <a class="dropdown-item" href="/static_pages/about">about</a>
    <a class="dropdown-item" href="/static_pages/contact">contact</a>
  </div>
</li>
